body{
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  padding: inherit;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
div{
  height: 300px;
  width: 800px;
  background-color: #ccc;
  display: inline-block;
  border: 1px solid black;
}
